<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swift_Weather Instant.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>weatherService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>weather_swift Instant.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>weather_swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC0331081A7F7C9700D8FDD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC0331121A7F7C9800D8FDD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC0331301A7F7ED600D8FDD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC4A96CB1A76248F008574CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC4A96E01A762490008574CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCBB02C01A806BB500EF02BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
